dist: xenial
language: python
python:
- '3.7'
cache: pip
install:
- pip install -r requirements.txt
script:
- flake8 .
- pytest --cov=invisible_flow tests
deploy:
  provider: gae
  keyfile: "$GAE_KEYFILE"
  project: "$GAE_PROJECT_ID"
  version: "$GAE_VERSION"
before_install:
- openssl aes-256-cbc -K $encrypted_4f8e50776e04_key -iv $encrypted_4f8e50776e04_iv
  -in gae-keyfile-dev.json.enc -out gae-keyfile-dev.json -d
- openssl aes-256-cbc -K $encrypted_9d94b03b2147_key -iv $encrypted_9d94b03b2147_iv
  -in gae-keyfile-dev.json.enc -out gae-keyfile-dev.json -d
