:root {
  --light-periwinkle: #ccdffd;
  --bright-blue: #005ef4;
  --cool-blue: #405ec3;
  --perrywinkle: #8498d8;
  --powder-blue: #bdc7ec;
  --very-light-blue: #dde6f7;
  --very-light-pink: #f5f4f4;
  --very-light-pink-two: #dbdbdb;
  --brownish-grey: #767676;
  --purple-brown: #231f20;
  --brown-grey: #8f8f8f;
  --white: #ffffff;
  --greyish-brown: #5a5959;
  --pale-gold: #ffd96f;
  --main-font: "San Francisco Text", sans-serif;
}

body {
  margin: 0;
  background-color: var(--very-light-pink);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3 {
    font-family: "San Francisco Text", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 0px;
  margin: 0px;
}

a {
    text-decoration: none;
}

.Header-Box {
  width:  inherit;
  height: 71px;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--brown-grey);
}

.Citizens-Police-Data {
  height: inherit;
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.Menu {
  height: inherit;
  width: 50%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.Active-Tab{
  padding: 0px 10px 0px 10px;
  text-align: center;
  color: var(--purple-brown);
}

.Inactive-Tab {
  color: var(--brown-grey);
}

.Site-Title{
   padding: 0px 10px 0px 10px;
}